<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博学谷</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <div class="email">
                <a href="#"></a>
            </div>
            <div class="logo">
                <img src="./images/headerLogo.png" alt="">
            </div>
            <div class="search">
                <a href="#"></a>
            </div>
        </div>
    </header>
    <section class="banner">
        <div><a href="#"><img src="./images/FE.png" alt=""></a></div>
    </section>
    <section class="job">
        <div class="title">
            <h3>就业班</h3>
        </div>
        <div class="content">
            <ul>
                <li>
                    <a href="#">
                        <img src="./images/fe-list.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/fe-list.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/fe-list.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/fe-list.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/fe-list.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/fe-list.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="lesson">
        <div class="title">
            <h3>微课</h3>
        </div>
        <ul class="content">
            <li class="item">
                <img src="./images/java.png" alt="">
                <h5>java</h5>
                <p><span>100人学习</span><span>￥199</span></p>
            </li>
            <li class="item">
                <img src="./images/java.png" alt="">
                <h5>java</h5>
                <p><span>100人学习</span><span>￥199</span></p>
            </li>
            <li class="item">
                <img src="./images/java.png" alt="">
                <h5>java</h5>
                <p><span>100人学习</span><span>￥199</span></p>
            </li>
            <li class="item">
                <img src="./images/java.png" alt="">
                <h5>java</h5>
                <p><span>100人学习</span><span>￥199</span></p>
            </li>
        </ul>
    </section>
    <footer>
        <ul class="content">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    <span> 首&nbsp;页</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                    <span>分&nbsp;类</span>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>